<lazy-style href="lib/dynatree/css/ui.dynatree.css"/>
<lazy-script href="lib/dynatree/jquery.dynatree-1.2.4.js"/>
<form class="form-horizontal">
    <legend>Clone Repository</legend>
    <div class="control-group">
        <label class="control-label" for="repositoryName">Repository Name</label>
        <div class="controls">
            <input type="text" class="input-xxlarge" id="repositoryName" ng-model="repositoryName" placeholder="Repository Name">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="repositoryUrl">Clone URL</label>
        <div class="controls">
            <input type="text" class="input-xxlarge" id="repositoryUrl" ng-model="repositoryUrl" placeholder="Clone URL">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="cloneDirectory">Clone Directory</label>
        <div class="controls">
            <div class="input-append">
                <input type="text" class="input-xxlarge" id="cloneDirectory" ng-model="cloneDirectory" placeholder="Clone Directory"><button class="btn" type="button" ng-click="browseFiles()">Browse</button>
            </div>
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <button type="submit" class="btn" ng-click="clone()">Clone</button>
        </div>
    </div>

    <div id="directorySelectionModal" class="modal hide fade">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Clone Directory Location</h3>
        </div>
        <div class="modal-body">
            <div id="directoryChooser"></div>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn">Close</a>
            <a href="#" class="btn btn-primary">Select</a>
        </div>
    </div>
</form>
